---
layout: archive
title: "Books"
permalink: /books/
author_profile: true
---

<div class="interests" style="margin-bottom: 1.5rem;">
    <strong>Interests:</strong>
  English Renaissance, History, Philosophy, Logic, Aristotelianism, Transcendentalism, Empiricism, Finance, Maths, Technology, Medicinal Chemistry, Christianity, Catholicism, Protestantism
</div>


<style>
.interests {
  color: #444; /* Light mode text */
}

/* Dark mode */
html[data-theme="dark"] .interests,
.dark .interests {
  color: #ccc !important; /* Light text for dark mode */
}

html[data-theme="dark"] .interests strong,
.dark .interests strong {
  color: #fff !important;
}
</style>

{% include base_path %}

<div id="books-container">
{% for post in site.books reversed %}
  <div class="book-item" data-category="{{ post.category }}">
    {% include archive-single-book.html %}
  </div>
{% endfor %}
</div>
