---
layout: archive
title: "Initiatives"
permalink: /initiatives/
author_profile: true
---

{% include base_path %}

<!-- If initiative categories are defined -->
{% if site.initiative_category %}
  {% for category in site.initiative_category  %}
    {% assign title_shown = false %}
    {% for post in site.initiatives %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.initiatives %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
